.photo-grid {
  max-width: 1184px;
  align-self: center;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 16px;
  }
}

/* TODO screen width for IPhone SE 375px and for Samsung - 412px */
@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    grid-template-rows: repeat(12, minmax(min-content, max-content));
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    gap: 12px;
  }
}
