.places {
  max-width: 984px;
  margin: 92px auto 12px;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto 50px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px auto 50px;
  }
}
