/* обнуляем дефолтные стили для текстов и ссылок */
a {
  text-decoration: none;
  color: white;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color:  #f2f2f2;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  z-index: 2;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../images/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
  z-index: 0;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.description {
  border: 2px solid #f2f2f2;
  padding: 100px 10%;
}

.two-columns {
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
}

.two-columns__brief_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  padding-top: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:first-of-type {
  padding-top: 20px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.section__table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits {
  border: 2px solid #f2f2f2;
}

.table__title {
  margin-bottom: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.table__title_theme_white {
  margin-top: 100px;
}

.table__subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_theme_white {
  margin-bottom: 100px;
}

.table__cell {
  display: flex;
  margin-right: 0;
}

.table__cell_theme_white {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  text-align: left;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}

.table__text {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: flex-start;
  height: 890px;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  border: 2px solid #f2f2f2;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.table__title_theme_dark {
  margin-top: 90px;
  color: white;
  z-index: 1;
}

.table__subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 210px;
  color: white;
  margin-top: 80px;
  margin-right: 0;
  z-index: 1;
}

.footer {
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  display: flex;
  border: 2px solid #f2f2f2;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px;
  width: 90%;
}

.column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin-left: -40px;
}

.footer__column-link_margin_bottom {
  margin-bottom: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
