.footer__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 510px) {
  .footer__links {
    display: block;
    margin-bottom: 1rem;
  }
}
