.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.63;
  margin: 0 0 25px;
  grid-area: paragraph;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    max-width: 352px;
  }
}

@media screen and (max-width: 620px) {
  .place__paragraph {
    max-width: 304px;
    margin: 0 auto 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 8px 25px;
  }
}

.place__paragraph:last-child {
  margin-bottom: 0;
}
