.lead__subtitle {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  width: 65%;
  text-align: center;
  margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 83%;
  }
}

@media screen and (max-width: 735px) {
  .lead__subtitle {
    font-size: 1rem;
    width: 90%;
    margin-bottom: 16px;
  }
}
