.cover {
  max-width: 1184px;
  height: 740px;
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 0;
/*оставил здесь overflow:hidden поскольку он не влияет на горизонтальный scroll, а без него элемент с posiion:absolut выходит за границы блока*/
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 620px) {
  .cover {
    margin-top: 16px;
  }
}

@media screen and (max-width: 510px) {
  .cover {
    min-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
  }
}

