.cover {
  max-width: 1184px;
  height: 740px;
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 0;
/*оставил здесь overflow:hidden поскольку он не влияет на горизонтальный scroll, а без него элемент с posiion:absolut выходит за границы блока*/
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 96vw;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 510px) {
  .cover {
    height: 200px;
  }
}
