.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: 92.5%;
  margin: 92px auto 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    width: 93.7%;
  }
}

@media screen and (max-width: 736px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 510px) {
  .footer {
    display: block;
    margin: 64px auto 24px 16px;
  }
}
