.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 92px auto 24px;
}

@media screen and (max-width: 340px) {
  .footer {
    display: block;
    margin: 64px auto 24px 16px;
  }
}
