.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 92px auto 24px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px auto 24px 16px;
    max-width: 186px;
    flex-direction: column;
  }
}
