.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  grid-area: website;
  width: 456px;
}

@media screen and (max-width: 768px) {
  .place__website {
    margin-top: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-top: 0;
  }
}
